body {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #F6EDD9;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50%;
  background-color: #F8FBEF;
}
nav ul {
  display: flex;
  list-style: none;
}
nav h1 {
  margin: 1em;
}
nav ul > li, Link {
  margin: 1em;
}
Link {
  text-decoration: none;
}
.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}
.intro {
  line-height: 1.1;
}
.homeDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.homeDiv .homeDesc {
  display: flex;
  padding: 1em;
  width: 40%;
  height: 100vh;
  flex-direction: column;
}
.homeDiv .homeDesc input {
  width: 99%;
  height: 5vh;
  font-size: 19px;
  background-color: rgb(194, 192, 192);
  outline: none;
  border: none;
  border-bottom: 1px solid black;
}
.mapDiv {
  width: 80%;
  height: 100vh;
  margin-right: 3em;
}
.map {
  width: 100%;
  height: 100vh;
}
.infoWindow{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 2.5em;
  color: rgb(44, 83, 44);
  line-height: 0.1;
}
.locate {
  width: 7vw;
  position: absolute;
  right: 4em;
  top: 8em;
  z-index: 99;
  cursor: pointer;
}
.placeList{
  list-style: none;
  background-color: rgb(194, 192, 192);
  text-align: left;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.placeList ul {
  list-style: none;
  line-height: 1.5;
  font-size: 19px;
}
.placeList ul > li {
  transition: 0.3s;
}
.placeList ul > li:hover {
  transition: 0.3s;
  font-size: 18px;
  cursor: pointer;
}

.recContainer {
  display: flex;
  justify-content: space-between;
}
.recGrid {
  display: flex;
  flex-direction: column;
}
.recDiv {
  width: 10vw;
  height: 30vh;
  padding: 1em;
  margin: 1em;
  border: 3px solid red;
}
.recDiv img {
  width: 100px;
  height: 100px;
}
.recMap {
  width: 100%;
}




@media screen and (min-width: 375px) and (max-width: 667px) {
  nav {
    width: 100%;
    font-size: 10px;
  }
  nav ul {
    width: 100%;
  }
}