.homeDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }
  .homeDiv .homeDesc {
    display: flex;
    padding: 1em;
    width: 40%;
    height: 100vh;
    flex-direction: column;
  }
  .homeDiv .homeDesc form {
    display: flex;
    width: 20vw;
    height: 5vh;
    outline: none;
  }
  .homeDiv .homeDesc form input {
    background-color: rgb(194, 192, 192);
    text-align: left;
    outline: none;
    border: none;
    margin: 2px;
    border-radius: 5px;
  }
  .AutoComplete {
    background-color: rgb(194, 192, 192);
  }

  .mapDiv {
    width: 80%;
    height: 100vh;
    margin-right: 1em;
  }
  .map {
    width: 100%;
    height: 100vh;
    border-radius: 10px;
    border: 1px solid black;
  }
  .infoWindow{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 2.5em;
    color: rgb(44, 83, 44);
    line-height: 0.1;
  }
  .infoWindow form {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .infoWindow form input[type=text]{
    margin: 2px;
    width: 13em;
    height: 2em;
    font-size: 12px;
  }
  .locate {
    width: 7vw;
    position: absolute;
    right: 2em;
    top: 8em;
    z-index: 99;
    cursor: pointer;
  }
  .placeList{
    list-style: none;
    background-color: rgb(194, 192, 192);
    text-align: left;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .placeList ul {
    list-style: none;
    line-height: 1.5;
  }
  .placeList ul > li {
    transition: 0.3s;
    border-bottom: 1px solid black;
    position: relative;
    right: 1.2em;
  }
  .placeList ul > li:hover {
    transition: 0.3s;
    scale: 1.05;
    cursor: pointer;
  }
  