.homeDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }
  .homeDiv .homeDesc {
    display: flex;
    padding: 1em;
    width: 50%;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    /* border: 3px solid red; */
    height: 60vh;
    margin-bottom: 15em;
  }
  .homeDiv .homeDesc button {
    cursor: pointer;
  }
  .routeInput {
    display: flex;
    width: 33vw;
    justify-content: space-between;
  }
  .mapDiv {
    width: 70%;
    height: 100vh;
  }
  .map {
    width: 90%;
    height: 100vh;
    border-radius: 10px;
    border: 1px solid black;
  }
  .infoWindow{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 2.5em;
    color: rgb(44, 83, 44);
    line-height: 0.1;
  }
  .locate {
    width: 7vw;
    cursor: pointer;
  }
  .placeList{
    list-style: none;
    background-color: rgb(194, 192, 192);
    text-align: left;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .placeList ul {
    list-style: none;
    line-height: 1.5;
  }
  .placeList ul > li {
    transition: 0.3s;
    border-bottom: 1px solid black;
    position: relative;
    right: 1.2em;
  }
  .placeList ul > li:hover {
    transition: 0.3s;
    scale: 1.05;
    cursor: pointer;
  }
  