nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50%;
    background-color: #F8FBEF;
  }
  nav ul {
    display: flex;
    list-style: none;
  }
  nav h1 {
    margin: 1em;
  }
  nav ul > li {
    margin: 1em;
    transition: 0.3s;
  }
  nav ul > li:hover {
    transition: 0.3s;
    scale: 1.1;
  }
  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
  }