.recContainer {
    display: flex;
    justify-content: space-between;
  }
  .recGrid {
    display: grid;
    grid-template-columns: repeat(2,200px);
    grid-template-rows: repeat(3,230px);
  }
  .recDiv {
    width: 10vw;
    height: 30vh;
    padding: 1em;
    margin: 1em;
    background-color: rgba(185, 86, 86, 0.746);
    border-radius: 20%;
    transition: 0.3s;
    line-height: 0.7;
  }
  .recDiv:hover {
    transition: 0.3s;
    scale: 1.1;
    cursor: pointer;
    font-size: 17px;
  }
  .recDiv img {
    width: 9vw;
    border-radius: 20%;
    height: 18vh;
  }
  .recMap {
    width: 100%;
  }
  